extends layout

block head
    title Vexillopedia | The flag encyclopedia
    link(rel="stylesheet", href="/css/category.css")
    script(src="/js/category.js", defer)

block body
    header.header
        h1.title Vexillopedia | The flag encyclopedia
    
    main.main
        h2.category-title #{name}
        
        ul.card-list
            each flag in flags
                li.card
                    a(href="/flag/" + flag.name) 
                        img(src="/flag/" + flag.image alt= flag.name)
                        span #{flag.name}