extends layout

block head
    title Vexillopedia | The flag encyclopedia
    link(rel="stylesheet", href="/css/index.css")
    script(defer scr="/js/index.js")

block body
    div.mdl-layout.mdl-js-layout
        
        header.mdl-layout__header
            div.mdl-layout__header-row
                span.mdl-layout__title Vexillopedia | The flag encyclopedia
        
        main.mdl-layout__content        
            div.welcome
                h3.welcome-title Welcome to Vexillopedia,
                p.welcome-text the flag encyclopedia!
            
            div.search
                h2.section-title Search Flags
                div.mdl-textfield.mdl-js-textfield.search-input
                    input.mdl-textfield__input#search-flag(type="text")
                    label.mdl-textfield__label(for="search-flag") Search a flag ...
                ul#flag-list
                    each flag in flags
                        a(href="/flag/" + flag.name)
                            li.flag-card 
                                img(src="/flag/" + flag.image alt= flag.name)
                                span #{flag.name}
            
            p.or -or-
            
            div.categories
                h2.section-title Browse Categories
                ul#category-list
                    each category in categories
                        a(href="/category/" + category)
                            li.category-card #{category}