extends layout

block head
    title Vexillopedia | The flag encyclopedia
    link(rel="stylesheet", href="/css/index.css")
    script(defer scr="/js/index.js")

block body
    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
        
        header(class="mdl-layout__header")
            div(class="mdl-layout__header-row")
                span(class="mdl-layout__title") Vexillopedia | The flag encyclopedia
        
        main(class="mdl-layout__content")        
            div.welcome
                h3.welcome-title Welcome to Vexillopedia,
                p.welcome-text the flag encyclopedia!
            
            div.search
                h2.section-title Search Flags
                div.search-input(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
                    input#search-flag(class="mdl-textfield__input" type="text")
                    label(class="mdl-textfield__label" for="search-flag") Search a flag ...
                ul.card-list
                    each flag in flags
                        li.card
                            a(href="/flag/" + flag.name) 
                                img(src="/flag/" + flag.image alt= flag.name)
                                span #{flag.name}
            
            p.or -or-
            
            div.categories
                h2.section-title Browse Categories
                ul.card-list
                    each category in categories
                        li.card
                            a(href="/category/" + category) 
                                img(src="/category/" + category + ".svg" alt= category)
                                span #{category}