extends layout

block head
    title Vexillopedia | The flag encyclopedia
    link(rel="stylesheet", href="/css/index.css")
    script(defer src="/js/index.js")

block body
    header.header
        h1.title Vexillopedia | The flag encyclopedia

    main.main
        div.welcome
            h3.welcome-title Welcome to Vexillopedia,
            p.welcome-text the flag encyclopedia!
        
        div.search
            h2.section-title 
                span#search-text(class="hidden") Search Flags
                span#select-text Select a Flag
            input#search-flag.search-input(class="hidden")
            ul.card-list
                each flag in flags
                    li.card
                        a(href="/flag/" + flag.name) 
                            img(src="/img/flag/" + flag.image alt= flag.name)
                            span #{flag.name}
        
        p.or -or-
        
        div.categories
            h2.section-title Browse Categories
            ul.card-list
                each category in categories
                    li.card
                        a(href="/category/" + category) 
                            img(src="/img/category/" + category + ".png" alt= category)
                            span #{category}